<div class="row">
  <div class="col-md-5">
    <li><%= question.content %></li>

    <% if question.option == question_types[:'Radio'] %>
        <ul><%= @answers[ind] %></ul>
    <% else %>
        <ol><%= @answers[ind] %></ol>
    <% end %>

  </div>

  <div class="col-md-7 respond">
    <%= pie_chart @responds_without_json[ind], height: '200px' %>
  </div>

</div>
<hr class="hr_black">