<% if current_user.admin? %>

    <h1 class="text-center">All users</h1>

    <div class="row">
      <div class="col-md-1 text-center"><h3>id</h3></div>
      <div class="col-md-3 text-left clickable-area"><h3>Email</h3></div>
      <div class="col-md-1 text-left"><h3>Admin</h3></div>
      <div class="col-md-8 text-left"></div>
    </div>

    <hr class="hr_black">

    <% @users.each do |user| %>
        <%= render 'admin/users/user', user: user %>
    <% end %>
    <div class="text-center"> <%= paginate @users %></div>
    <%= link_to 'New', new_admin_user_path, class: 'btn btn-primary action_button' %>
<% end %>